.TicketDisplayProperty{
    margin-bottom: 2px !important;
    font-size: 14px;
}
.TicketDisplayPropertyText{
    vertical-align: middle;
    margin-left: 5px;
}

.ProfilePicture{
    border-radius: 25px;  
    border: 2px solid grey;
}