.TicketDisplayProperty{
    margin-bottom: 2px !important;
    font-size: 14px;
}
.TicketDisplayPropertyText{
    vertical-align: middle;
    margin-left: 5px;
}

.ProfilePicture{
    border-radius: 25px;  
    border: 2px solid grey;
}

.EditProfilePicture {
    width: 100%;
    height:50%;
    margin: auto;
    background: black;
    opacity: 0%;
    color: white;
    font-size: xx-large;
    line-height: 58px;
    transition: 0.3s;
}

.EditProfilePicture:hover {
    opacity: 80%;
}

@keyframes scaleOut {
    0% {
        opacity: 0;
        color: rgba(0, 0, 0, 0.54);
    }
    100% {
        opacity: 1;
        color: #0174ff;
    }
}
